* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Add this to your existing <style> block */
html,
body {
  height: auto !important;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  height: auto !important;
  min-height: 100vh;
}

.py-4 {
  height: auto !important;
  min-height: 100vh;
}
